*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}
h1{
  margin-bottom: 2rem;
}
h1, h2, p {
  text-align: center;
}
.end-text {
  margin-top: 3rem;
}
.long-text {
  margin-bottom: 3rem;
}
.event-name {
  margin-bottom: 6px;
}
.time-since {
  margin-bottom: 8px;
}
.event-card {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
}
.time-block{
  padding: 6px;
  background: rgb(234, 227, 227);
  border-radius: 1px;
  margin-right: 6px;
  height: 10px;
  /* add simple box shadow */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}